@keyframes heart
{
    45%
    {
        transform: translate(-50%,-100%) scale(3,3);
    }

    100%
    {
        transform: translate(-50%,-50%) scale(1,1);
    }
}

.heart
{
    width: 195px;
    height: 105px;
    top: 37%;
    left: 43%;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    animation-name: heart;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.heart div
{
    background: red;
    width: 60px;
    height: 110px;
    top: 15%;
    display: block;
    position: absolute;
    border-radius: 50%;
}

.left
{
    left: 47px;
    transform: rotate(330deg);
}

.right
{
    right: 50px;
    transform: rotate(30deg);
}

.img
{
    width: auto;
    height: auto;
    display: inline-block;
}

#imgleft
{
    background-image: url('./nam.jpg');
    width: 450px;
    height: 450px;
    background-size: cover;
}

#imgright
{
    background-image: url(./nu.jpg);
    width: 450px;
    height: 450px;
    margin-left: 190px;
    background-size: cover;
}

.music
{
    margin-top: 100px;
}